.delete-dashboard-section {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7%;
  padding-right: 1%;
}
.delete-dashboard-container {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  height: 85vh;
  flex-direction: column;
}
.delete-dashboard-container-header {
  height: 8vh;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}
.delete-dashboard-container-title {
  padding-left: 20px;
  font-size: 2rem;
}
.delete-dashboard-container-table-wrapper {
  width: 100%;
  height: 100%;
}
.delete-dashboard-table-heading {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1rem;
  gap: 0.1em;
}
.table-heading {
  padding: 4px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
}
.hr-line-divider {
  color: black;
}
.delete-dashboard-table-contents {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 5px;
  gap: 0.1em;
}
.custom-serial-delete {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
}
.delete-dashboard-table-content {
  text-align: center;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
}

.delete-dashboard-delete-btn {
  transition: all 100ms ease;
  cursor: pointer;
}
.delete-dashboard-delete-btn:hover {
  color: rgb(255, 70, 70);
}
.delete-course-confirmation-pop {
  position: absolute;
  top: 30%;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 4px;
  height: 45%;
  display: flex;
  flex-direction: column;
  width: 25%;
  left: 45%;
}
.delete-confirm-course-title {
  font-size: 1rem;
  font-weight: 400;
}
.delete-information-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.italics-confirm-delete {
  font-size: 0.9rem;
  font-weight: 500;
}
.dashboard-delete-course-btn {
  background-color: red;
  margin-top: 10px;
  padding: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
}
.dashboard-delete-course-btn:disabled {
  background-color: gray;
}
.delete-confirm-course-matcher {
  padding: 5px;
  color: white;
  font-weight: 400;
  margin-top: 20px;
  font-size: 1rem;
}
.delete-dashboard-course-img {
  object-fit: cover;
  width: 20px;
}
.delete-dashboard-edit-btn:hover {
  color: rgb(125, 125, 255);
}
