.footer-section {
  width: 100%;
  height: 40vh;
}
.footer-section-container {
  width: 95%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.footer-list-item-wrappers > li {
  list-style: none;
  padding-top: 8px;
  cursor: pointer;
  color: rgb(193, 99, 255);
}

.footer-list-item-wrappers > h4 {
  color: #fff;
  font-size: 1.4rem;
}

.footer-list-item-wrappers > li:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}
.footer-savage-img {
  width: 90%;
  height: 220px;
  object-fit: contain;
}
@media screen and (max-width: 900px) {
  .footer-section {
    height: auto;
  }
  .footer-section-container {
    width: 95%;
    align-items: flex-start;
    padding: 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-list-item-wrappers {
    padding-top: 1.4rem;
  }
  .footer-savage-img {
    display: none;
  }
}
