.edit-dashboard-section {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  padding-left: 6%;
  align-items: center;
}
.edit-dashboard-section-container {
  width: 95%;
  border-radius: 2px;
  height: 90%;
  padding: 10px;
  background-color: aliceblue;
}
.edit-dashboard-section-coursename {
  font-size: 1.5rem;
  font-weight: 300;
}
.edit-dashboard-section-information-wrapper {
  height: 6vh;
  color: white;
  padding-left: 10px;
  border-radius: 1%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  padding-right: 10px;
  align-items: center;
}
.edit-dashboard-section-icon {
  color: white;
}
.edit-text-course-name-inp {
  padding: 2px;
  padding-left: 4px;
  font-weight: 300;
  width: 400px;
}
.edit-course-change-name-btn {
  margin-left: 15px;
  background-color: white;
  color: black;
  padding: 2px;
  padding-left: 9px;
  padding-right: 9px;
}
.confirm-delete-edit-videos-pop {
  position: absolute;
  color: white;
  padding: 10px;
  top: 28%;
  border-radius: 10px;
  width: 30%;
  height: 40%;
  left: 45%;
}
.confirm-text {
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-weight: 900;
}
.confirm-edit-delete-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.delete-confirm-btn-edit {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  transition: all 120ms ease;
}

.delete-confirm-btn-edit:hover {
  background-color: white;
  color: black;
  transform: translateY(-2px);
}
.edit-course-video {
  height: 60%;
  width: 40%;
  background-color: black;
  box-shadow: 4px 2px 15px 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 20%;
  padding: 1rem;
  border-radius: 8px;
  left: 35%;
}
.edit-action-title {
  font-size: 2rem;
  color: white;
}
.custom-edit-course-inp {
  padding: 0.5rem;
  width: 98%;
  border: none;
  color: white;
  font-weight: 400;
}
.edit-course-video-form {
  position: relative;
}
.custom-edit-course-inp:focus {
  outline: 2px solid white;
}
.custom-edit-course-label {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.custom-edit-course-btn {
  padding: 0.5rem;
  color: white;
  text-align: center;
  margin-top: 0.6rem;
  width: 98%;
  transition: all 150ms ease;
}
.close-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2rem;
  align-items: center;
}
.edit-course-video.active-video {
  animation: scalingFramer 200ms 1 ease;
}
.edit-course-video.not-active-video {
  animation: scalingOffFramer 200ms 1 ease;
}
.edit-course-file-inp {
  width: 98%;
  padding: 0.5rem;
}
.edit-course-file-inp::-webkit-file-upload-button {
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 1.2rem;
  border: none;
}
.custom-edit-course-p {
  margin-top: 1.5rem;

  width: 95%;
  text-align: center;
}
.edit-course-file-inp {
  font-size: 0.7rem;
}
@keyframes scalingFramer {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scalingOffFramer {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
