.contact-page-section {
  width: 100%;
  height: 55vh;

  color: #fff;
  display: flex;
  justify-content: center;
}
.contact-page-section-container {
  width: 98%;
  height: 100%;
  padding: 10px;
}
.contact-page-section-container > h2 {
  font-size: 2rem;

  text-transform: uppercase;
}
.contact-us-input-wrapper {
  height: 80%;
  width: 70%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1em;
}
.contact-section-input {
  width: 70%;
  padding: 10px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
}
textarea {
  padding: 10px;
  width: 70%;
  height: 50%;
  outline: none;
  border: none;
  color: white;
  resize: none;
  background-color: black;
}
.contact-section-input::placeholder {
  color: white;
}
textarea::placeholder {
  color: white;
}
.contact-section-submit-btn {
  width: 70%;
  padding: 10px;
  border: none;
  outline: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  color: black;
  background-color: rgb(248, 249, 251);
}
.contact-section-submit-btn:hover {
  background-color: rgb(211, 226, 255);
}
.section-duck {
  position: absolute;
  object-fit: contain;
  height: 300px;
  margin-top: 20px;
  width: 300px;
  aspect-ratio: 16/9;
  right: 10%;
}
@media screen and (max-width: 900px) {
  .section-duck {
    display: none;
  }
  .contact-us-input-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact-page-section-container > h2 {
    font-size: 1.7rem;
    text-align: center;
    font-weight: 900;
  }
  .contact-section-input {
    width: 85%;
  }
  .contact-section-submit-btn {
    width: 85%;
  }
  .contact-section-message {
    width: 85%;
  }
}
